/* src/components/Navbar.css */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #083f5b; /* Change as needed */
}

.logo-image {
  width: 100px;   
  height: 60px;  
  object-fit: contain; /* Ensure the image is contained within the specified dimensions */
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px; /* Space between links */
}

.nav-links a {
  color: white; /* Link color */
  text-decoration: none; /* Remove underline */
}

.nav-links a:hover {
  text-decoration: underline; /* Underline on hover */
}
