/* 
File Name: Navbar.css
Student Name: Evelyn Kim 
Student ID: 301121049
Date: September 26, 2024 
*/
/* src/components/Navbar.css */

/*navigation bar style*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #083f5b; 
}

/* logo image */
.logo-image {
  width: 100px;   
  height: 60px;  
  object-fit: contain; 
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px; /* Space between links */
}

.nav-links a {
  color: white; /* Link  */
  text-decoration: none; 
}

.nav-links a:hover {
  text-decoration: underline; /* Underline on hover */
}
